/.conda
/.venv
/.vscode
/96 well stamp (100ul).json
/96 well stamp (180ul).json
/96 well stamp (35ul).json
/Day 1 adding methylcellulose (1 plate).json
/Serial Fill and Dillute (1).json
/Serial Fill and Dillute (2).json
/Serial Fill and Dillute.json
/Staining Cells (5plates MeoH) no wash.json
/Staining Cells (8plates MeoH) no wash (1).json
/Staining Cells (8plates MeoH) no wash.json
/Step 1 new protocol (1 plate) (new dilution) RS (2).json
/Step 2 new protocol (1 plate) (new dilution) (no ABC) RS.json
/altair_viz_1.png
/altair_viz_2.png
/altair_viz_3.png
/bugsinbox-main
/d3_test.vcf